@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kungsvägen 1<br />
    100 00 Kungahuset, Sverige<br />
    Phone:
    48-1516-2342
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">SupportHåkan@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketingSabrina@example.com</a><br />
    <strong>Sales:</strong> <a href="mailto:Marketing@example.com">SalesLinda@example.com</a><br />
    <strong>Human Resources:</strong> <a href="mailto:Marketing@example.com">HR-Charlie@example.com</a>
</address>