
@{
    ViewBag.Title = "Login";
}





<nav class="test">

<h2>@ViewBag.Message</h2>


<form method="post">
    <textarea name="message" ></textarea>
    <input type="submit"  value="Send" />

</form>

</nav>







