
@{
    ViewBag.Title = "Databaseexample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Databaseexample</h2>

@Html.DropDownList("Drivers license1", ViewBag.drivers_license as SelectList, "Please select an option")