
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> l1 = new List<SelectListItem>();
    l1.Add(new SelectListItem() { Text = "yes", Value = "yes" });
    l1.Add(new SelectListItem() { Text = "no", Value = "no" });

}

<h2>Index</h2>

@Html.DropDownList("Drivers_license", l1, "please select an option")