@model ProjektGruppF.Models.freelancer

<h2>List with your saved freelancers</h2>

<p>Filter your search by choosing desired skill, expertise or rank in the drop-down boxes below.</p>
<select id="leftSelect">
    <option value="programming">Programmer</option>
    <option value="webDeveloping">Web developer</option>
    <option value="databases">Database administrator</option>
    <option value="mobile_application_developing">Mobile application developer</option>
    <option value="usability_testing">Usability expert</option>
    <option value="logo_designing">Logo designer</option>
</select>

<select id="centerSelect">
    <option value="programming">C#</option>
    <option value="webDeveloping">Web developer</option>
    <option value="databases">Database administrator</option>
    <option value="mobile_application_developing">Mobile application developer</option>
    <option value="usability_testing">Usability expert</option>
    <option value="logo_designing">Logo designer</option>
</select>

<select id="rightSelect">
    <option value="five">5</option>
    <option value="four">4</option>
    <option value="three">3</option>
    <option value="two">2</option>
    <option value="one">1</option>
</select>

<section class="cvList">
    <p>Frilansare 1</p>
</section>
<section class="cvList2">
    <p>Frilansare 2</p>
</section>
<section class="cvList">
    <p>Frilansare 3</p>
</section>
<section class="cvList2">
    <p>Frilansare 4</p>
</section>